.game-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.message {
  margin-top: 20px;
  text-align: center;
  opacity: 1;
  height: 24px;
}

.message.fade-out {
  opacity: 0;
  transition: opacity 1s ease;
}
