.game-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.message {
  margin-top: 20px;
  text-align: center;
  opacity: 1;
  height: 24px;
}

.message.fade-out {
  opacity: 0;
  transition: opacity 1s ease;
}

#restart-btn {
  background-color: var(--playbtn-bg);
  height: 50px;
  width: 100px;
  font-size: 16px;
  margin-bottom: 16px;
  border: 1px solid var(--border);
  border-radius: 10px;
  box-shadow: 2px 2px 4px var(--tile-shadow);
  color: var(--text);
  cursor: pointer;
}
