:root {
  --bg: floralwhite;
  --text: rgba(8, 6, 4, 0.9);
  --border: rgba(0, 0, 0, 0.85);

  --playbtn-bg: #ffffff;

  --tile-bg: #ffffff;
  --tile-shadow: rgba(0, 0, 0, 0.2);

  --keyboard-bg: #ffffff;
  --keyboard-shadow: rgba(0, 0, 0, 0.4);

  --correct: #81ec81;
  --misplaced: #ece06f;
  --incorrect: #d3d3d3;

  --modal-bg: #ffffff;
  --modal-backdrop: rgba(0, 0, 0, 0.3);
  --modal-text: rgba(8, 6, 4, 0.9);
  --correct-example: #2a9d5b;
  --misplaced-example: #d6a100;
  --incorrect-example: #696969;
  --example-border: rgba(255, 255, 255, 0.6);
  --example-letter-color: #ffffff;
}

:root[data-theme='dark'] {
  --bg: rgb(26, 19, 13);
  --text: #fff6ee;
  --border: rgba(255, 246, 238, 0.8);

  --playbtn-bg: #403327;

  --tile-bg: #6b5749;
  --tile-shadow: rgba(0, 0, 0, 0.4);

  --keyboard-bg: #6b5749;
  --keyboard-shadow: rgba(0, 0, 0, 0.5);

  --correct: #2a9d5b;
  --misplaced: #d6a100;
  --incorrect: #332920;

  --modal-bg: #ffffff;
  --modal-backdrop: rgba(0, 0, 0, 0.3);
  --modal-text: rgba(8, 6, 4, 0.9);
  --correct-example: #2a9d5b;
  --misplaced-example: #d6a100;
  --incorrect-example: #696969;
  --example-border: rgba(255, 255, 255, 0.6);
  --example-letter-color: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}
