.keyboard {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.keyRow {
  display: flex;
  align-items: center;
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--keyboard-bg);
  color: var(--text);
  height: 50px;
  width: 50px;
  font-size: 22px;
  margin: 6px 6px;
  border: 1px solid var(--border);
  border-radius: 10px;
  box-shadow: 2px 2px 4px var(--keyboard-shadow);
  cursor: pointer;
}

.key svg {
  display: block;
  width: 24px;
  height: 24px;
  color: var(--text);
}

.enter svg {
  transform: translateX(1px);
}

.backspace {
  width: 112px;
}

.keyRow:nth-of-type(2) {
  margin-left: 25px;
}

.keyRow:nth-of-type(3) {
  margin-left: 50px;
}

.key.correct {
  background: var(--correct);
}
.key.misplaced {
  background: var(--misplaced);
}
.key.incorrect {
  background: var(--incorrect);
}
