.keyboard {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.key {
  background-color: white;
  height: 50px;
  width: 50px;
  font-size: 22px;
  margin: 6px 6px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.backspace {
  width: 112px;
}

.keyRow:nth-of-type(2) {
  margin-left: 20px;
}

.keyRow:nth-of-type(3) {
  margin-left: 40px;
}

.key.correct {
  background: lightgreen;
}
.key.misplaced {
  background: khaki;
}
.key.incorrect {
  background: lightgray;
}
