.row {
  display: flex;
  gap: 10px;
}

.tile {
  background-color: white;
  width: 60px;
  height: 60px;
  border: 1px solid black;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.correct {
  background-color: lightgreen;
}

.misplaced {
  background-color: khaki;
}

.incorrect {
  background-color: lightgray;
}
