.row {
  display: flex;
  gap: 10px;
}

.tile {
  background-color: var(--tile-bg);
  width: 60px;
  height: 60px;
  border: 1px solid var(--border);
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  box-shadow: 2px 2px 4px var(--tile-shadow);
  color: var(--text);
}

.correct {
  background-color: var(--correct);
}

.misplaced {
  background-color: var(--misplaced);
}

.incorrect {
  background-color: var(--incorrect);
}
